#article-container ul > li {
    list-style: none;
    position: relative;
    padding: 10px 15px;
    margin: 6px 0px;
    background: var(--card-bg);
    border-radius: 8px;
    border-left: 5px solid #49b1f5;
    transition: all 0.3s ease;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
}

#article-container {
    counter-reset: h2counter;
}

#article-container h2 {
    counter-increment: h2counter;
    counter-reset: h3counter;
}

#article-container h2::before {
    content: counter(h2counter) ". ";
    font-family: 'wawati', sans-serif;
    /* color: #49b1f5; */
    font-weight: bold;
    margin-right: 8px;
    font-size: 1.2em;
}

#article-container h3 {
    counter-increment: h3counter;
    counter-reset: h4counter;
}

#article-container h3::before {
    content: counter(h2counter) "." counter(h3counter) " ";
    font-family: 'wawati', sans-serif;
    /* color: #49b1f5; */
    margin-right: 8px;
    font-size: 1.2em;
}

#article-container h4 {
    counter-increment: h4counter;
}

#article-container h4::before {
    content: counter(h2counter) "." counter(h3counter) "." counter(h4counter) " ";
    font-family: 'wawati', sans-serif;
    /* color: #49b1f5; */
    margin-right: 8px;
    font-size: 1.2em;
}