@font-face {
    font-family: "iconfont"; /* Project id 4746832 */
    src: url('//at.alicdn.com/t/c/font_4746832_7nr20dnglbh.woff2?t=1731638356183') format('woff2'),
         url('//at.alicdn.com/t/c/font_4746832_7nr20dnglbh.woff?t=1731638356183') format('woff'),
         url('//at.alicdn.com/t/c/font_4746832_7nr20dnglbh.ttf?t=1731638356183') format('truetype');
  }
  
  .iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-zanting:before {
    content: "\e626";
  }
  
  .icon-bofang:before {
    content: "\e61c";
  }
  
  .icon-shangyishou:before {
    content: "\e63c";
  }
  
  .icon-xiayishou:before {
    content: "\e63e";
  }
  